{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="fr-container">

    <h1>Connexion à foreg</h1>
    <p>Ce formulaire sera remplacé ultérieurement par celui de la GPF, il sert à simuler son fonctionnement</p>
    <p>Les utilisateurs disponibles : </p>
    <table>
        <tr>
            <th>Login</th>
            <th>Password</th>
        </tr>
        <tr>
            <td>david@ign</td>
            <td>david</td>
        </tr>
        <tr>
            <td>clement@ign</td>
            <td>clement</td>
        </tr>
        <tr>
            <td>manu@ign</td>
            <td>manu</td>
        </tr>
        <tr>
            <td>daniel@ign</td>
            <td>daniel</td>
        </tr>
    </table>
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                <p>You are logged in as {{ app.user.userIdentifier }}</p>
                <p> <a href="{{ path('app_logout') }}">Logout</a></p>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label class="fr-label" for="username">Email</label>
        <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control fr-input" autocomplete="email" required autofocus>
        <label class="fr-label" for="password">Password</label>
        <input type="password" name="_password" id="password" class="form-control fr-input" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <input type="checkbox" name="_remember_me" id="_remember_me">
                <label for="_remember_me">Remember me</label>
            </div>
        #}

        <button class="fr-btn" type="submit">
            Sign in
        </button>
    </form>
</div>
{% endblock %}
